.navbar {
    width: 100%;
    background-color: black;
    padding: 15px 0px;
    text-align: right;
}

.navbarMenu {
    color: white;
    margin: 18px;
    text-decoration: none;
}

.navbarMenu:hover{
    transition: 1s;
    color: aqua;
}
